*.DS_Store
/timeseries_analysis/prova.ipynb
.idea*
*.pyc
.env*
bigquery_credentials.dat
google_env_variable.json
google_env_variable_crystal.json
test_google_credentials.json
profiles_settings.xml
Project_Default.xml
misc.xml
PicoParsing.iml
.cache
.ipynb_checkpoints
celerybeat*
.DS_Store
/.DS_Store
*.html
*.csv
*.xlsx